# XRD transformer
Standard seq2seq model architecture based on [language translation model](https://pytorch.org/tutorials/beginner/translation_transformer.html).

### Model setup
Concept: lattice parameters arise solely from peak positions, so learn relationship between peak positions (e.g. (100) and (200) peaks) via self attention. Positional encoding is intrinsic to peak positions already, so does not need to be learned. Output via seq2seq: lattice parameters arise from whole set of peaks.

Use [regression transformer](https://www.nature.com/articles/s42256-023-00639-z) to frame problem as a seq2seq problem. Numbers are tokenized based on digits and positions, and an embedding preserving distances between numbers is applied. (This works surprisingly well in the paper). Numbers can then be generated as a sequence of tokens before being decoded back to numbers.

Example: 12.34 --> ['\_1\_1\_', '\_2\_0\_', '\._', '\_3\_-1\_', '\_4\_-2\_']


Source
* Start with [q, I] data
* Peak positions (q) are binned to integers - initial tests used bin sizes of 0.0005 in q
* Convert bin positions to the regression transformer numerical encoding
* Different input lengths are dynamically padded during batching

Targets
* Start with [a, b, c] lattice data
* Tokenize data using the regression transformer numerical encoding
* Different output lengths are dynamically padded during batching

In [39]:
import pickle
import math
import matplotlib.pyplot as plt
import numpy as np
import re
from typing import Iterable, List
from timeit import default_timer as timer
import tqdm
import numerical_encodings # adapted from regression transformer paper

import torch
from torch import nn, Tensor
from torch.utils.data import DataLoader, Dataset, TensorDataset, random_split
from torch.nn.utils.rnn import pad_sequence
import torchtext

# Check if GPU is available
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")
print(device)

cuda

### Load data from files

Load data from pickles

* Lattice parameters are sorted smallest to largest.
* Peaks are unsorted(?)
* Max q is 1.0 (0.99999 or something - maybe it's normalized to 1.0)?

In [ ]:
def load_data(file1_path, file2_path):
    with open(file1_path, 'rb') as file1:
        list1 = pickle.load(file1)
    with open(file2_path, 'rb') as file2:
        list2 = pickle.load(file2)
    return list1, list2

xdata_filename = "./data/qI.pickle"
ydata_filename = "./data/lps.pickle"
X, y = load_data(xdata_filename, ydata_filename)

# Some entries are 0 length so limit X to entries with more than 10 elements
X = [x for x in X if len(x) > 10]

lens = [len(thing) for thing in X]

print(min(lens))
print(max(lens))
print(len(lens))

11
162
143804

### Helper functions

Detokenization routines

In [43]:
def get_keys_by_values(my_dict, values_list):
    keys_list = [key for value in values_list for key, val in my_dict.items() if val == value]
    return keys_list

def split_list(input_list, delimiters):
    '''
    Split a list into sublists based on a list of delimiters
    E.g. for the transfomer output which is separated by |
    '''
    result = []
    temp_list = []

    for item in input_list:
        if item not in delimiters:
            temp_list.append(item)
        else:
            if temp_list:  # Check if temp_list is not empty
                result.append(temp_list)
                temp_list = []

    # Add the last temp_list if not empty and not added yet
    if temp_list and temp_list not in result:
        result.append(temp_list)

    return result

def extract_floats(seq):
    out = []
    delimiters = ['|', '<eos>', '<bos>', '<a>', '<b>', '<c>']
    seq_split = split_list(seq, delimiters)
    for i in range(len(seq_split)):
        float_string = "".join([token.split("_")[1] for token in seq_split[i]])
        out.append(float(float_string))
    return out

### Tokenization

Split targets into numerical encoding

PropertyTokenizer from regression transformer paper.

Pass to model: vocab + list of token IDs

Set model parameters

In [ ]:
torch.manual_seed(42)

SRC_VOCAB_SIZE = len(vocab_X)
TGT_VOCAB_SIZE = len(vocab_y)
SRC_VOCAB = vocab_X
TGT_VOCAB = vocab_y
EMB_SIZE = 16
NHEAD = 8
FFN_HID_DIM = 64
BATCH_SIZE = 64
NUM_ENCODER_LAYERS = 3
NUM_DECODER_LAYERS = 3

transformer = Seq2SeqTransformer(NUM_ENCODER_LAYERS, NUM_DECODER_LAYERS, EMB_SIZE,
                                 NHEAD, SRC_VOCAB_SIZE, TGT_VOCAB_SIZE, SRC_VOCAB, TGT_VOCAB, FFN_HID_DIM)

for p in transformer.parameters():
    if p.dim() > 1:
        nn.init.xavier_uniform_(p)

transformer = transformer.to(DEVICE)

loss_fn = torch.nn.CrossEntropyLoss(ignore_index=PAD_IDX)

optimizer = torch.optim.Adam(transformer.parameters(), lr=0.0001, betas=(0.9, 0.98), eps=1e-9)

c:\Users\y_w_u\Google Drive\SLAC\code experiments\xrd-former\numerical_encodings.py:172: UserWarning: The inferred maximum float (90000) is used for normalizing all float embeddings which might result in diminishing embeddings.
  warnings.warn(
c:\Users\y_w_u\Google Drive\SLAC\code experiments\xrd-former\numerical_encodings.py:172: UserWarning: The inferred maximum float (9000) is used for normalizing all float embeddings which might result in diminishing embeddings.
  warnings.warn(

In [ ]:
# Test padding by sampling from dataset
src_batch, tgt_batch = collate_fn([ragged_dataset[i] for i in range(4)])
print(src_batch.shape, tgt_batch.shape)
# translate tgt_batch from tokens using vocab_y and get_keys_by_values
get_keys_by_values(vocab_y, tgt_batch[2].tolist())

torch.Size([246, 4]) torch.Size([26, 4])

['_7_0_', '_1_1_', '_1_1_', '_7_0_']

In [44]:
# Manually modified
class PropertyTokenizer:
    """Run a property tokenization."""

    def __init__(self) -> None:
        """Constructs a PropertyTokenizer."""
        self.regex = re.compile(r"\s*(\+|-)?(\d+)(\.)?(\d+)?\s*")

    def tokenize(self, text: str) -> List[str]:
        """Tokenization of a property.
        Args:
            text: text to tokenize.
        Returns:
            extracted tokens.
        """
        tokens = []
        matched = self.regex.match(text)
        if matched:
            sign, units, dot, decimals = matched.groups()
            if sign:
                tokens += [f"_{sign}_"]
            tokens += [
                f"_{number}_{position}_" for position, number in enumerate(units[::-1])
            ][::-1]
            if dot:
                tokens += [f"_{dot}_"]
            if decimals:
                tokens += [
                    f"_{number}_-{position}_"
                    for position, number in enumerate(decimals, 1)
                ]
        return tokens

    def tokenize_floats(self, floats: List[float]) -> List[List[str]]:
        """Tokenization of a list of floats.
        Args:
            floats: list of floats to tokenize.
        Returns:
            List of tokenized floats.
        """
        tokens_list = []
        for num in floats:
            tokens = self.tokenize(str(num))
            tokens_list.append("|")
            for i in tokens:
                tokens_list.append(i)
        return tokens_list
    
    from typing import List

    def tokenize_floats_tgt(self, floats: List[float]) -> List[str]:
        """Tokenization of a list of floats.
        Args:
            floats: list of floats to tokenize.
        Returns:
            List of tokenized floats.
        """
        if len(floats) != 3:
            raise ValueError("The input list must have exactly 3 elements")

        tokens_list = []
        prefix_list = ['<a>', '<b>', '<c>']
        
        for idx, num in enumerate(floats):
            tokens = self.tokenize(str(num))
            tokens_list.append(prefix_list[idx])
            for i in tokens:
                tokens_list.append(i)
        
        return tokens_list

max_q = find_highest_value(X)
# round max q up to the nearest 0.0005
max_q = np.ceil(max_q / 0.0005) * 0.0005

def bin_q(arr, max_q, n=0.0005):
    '''
    Bins the q values in an array of shape (n, 2) into bins of size `n`
    Bing 
    '''

    # # # Use absolute bin edges, not relative to the min and max values
    # # Compute the bin edges based on the binning size `n`
    # bin_edges = np.arange(arr[:,0].min(), arr[:,0].max() + n, n)
    bin_edges = np.arange(0.0, max_q + n, n)

    # Use `np.digitize` to bin the q values into integers
    binned_q = np.digitize(arr[:,0], bin_edges) - 1 # subtract 1 to make the index 0-based
    
    # # Create a new array with the bind q values in the first column and the I values in the second column
    # bind_arr = np.column_stack((bind_q, arr[:,1]))
    
    return binned_q

class RaggedTensorDataset(Dataset):
    def __init__(self, data, labels):
        self.data = data
        self.labels = labels

    def __len__(self):
        return len(self.data)

    def __getitem__(self, idx):
        return self.data[idx], self.labels[idx]

def generate_vocab(min_range, max_range, decimal_places=0, special_symbols=['<pad>', '<bos>', '<eos>', '|', '<a>', '<b>', '<c>']):
    token_set = set()
    
    max_digits_left = len(str(max_range).split(".")[0])
    max_digits_right = decimal_places

    for position in range(max_digits_left, -max_digits_right - 1, -1):
        for digit in range(10):
            token = f"_{digit}_{position}_"
            token_set.add(token)
    
    if decimal_places > 0:
        token_set.add("_._")

    tokens = special_symbols + sorted(list(token_set))

    # create a dictionary that maps each token to an index
    token_to_index = {}
    for i in range(len(tokens)):
        token_to_index[tokens[i]] = i

    return token_to_index

Full vocab generator

In [45]:
# find maximum number of decimal places in y
max_decimals = 0
for i in range(len(y)):
    for j in range(len(y[i])):
        if len(str(y[i][j]).split('.')[1]) > max_decimals:
            max_decimals = len(str(y[i][j]).split('.')[1])
print(max_decimals)

7

In [46]:
# Generate vocab_X
min_range = 0
max_range = 9999
vocab_X = generate_vocab(min_range, max_range, 0)
print(vocab_X)
print(len(vocab_X))

# Generate vocab_y
min_range = 0
max_range = 999
vocab_y = generate_vocab(min_range, max_range, max_decimals)
print(vocab_y)
print(len(vocab_y))

PAD_IDX, BOS_IDX, EOS_IDX, PIPE_IDX = 0, 1, 2, 3
A_IDX, B_IDX, C_IDX = 4, 5, 6

{'<pad>': 0, '<bos>': 1, '<eos>': 2, '|': 3, '<a>': 4, '<b>': 5, '<c>': 6, '_0_0_': 7, '_0_1_': 8, '_0_2_': 9, '_0_3_': 10, '_0_4_': 11, '_1_0_': 12, '_1_1_': 13, '_1_2_': 14, '_1_3_': 15, '_1_4_': 16, '_2_0_': 17, '_2_1_': 18, '_2_2_': 19, '_2_3_': 20, '_2_4_': 21, '_3_0_': 22, '_3_1_': 23, '_3_2_': 24, '_3_3_': 25, '_3_4_': 26, '_4_0_': 27, '_4_1_': 28, '_4_2_': 29, '_4_3_': 30, '_4_4_': 31, '_5_0_': 32, '_5_1_': 33, '_5_2_': 34, '_5_3_': 35, '_5_4_': 36, '_6_0_': 37, '_6_1_': 38, '_6_2_': 39, '_6_3_': 40, '_6_4_': 41, '_7_0_': 42, '_7_1_': 43, '_7_2_': 44, '_7_3_': 45, '_7_4_': 46, '_8_0_': 47, '_8_1_': 48, '_8_2_': 49, '_8_3_': 50, '_8_4_': 51, '_9_0_': 52, '_9_1_': 53, '_9_2_': 54, '_9_3_': 55, '_9_4_': 56}
57
{'<pad>': 0, '<bos>': 1, '<eos>': 2, '|': 3, '<a>': 4, '<b>': 5, '<c>': 6, '_._': 7, '_0_-1_': 8, '_0_-2_': 9, '_0_-3_': 10, '_0_-4_': 11, '_0_-5_': 12, '_0_-6_': 13, '_0_-7_': 14, '_0_0_': 15, '_0_1_': 16, '_0_2_': 17, '_0_3_': 18, '_1_-1_': 19, '_1_-2_': 20, '_1_-3_': 21, '_1_-4_': 22, '_1_-5_': 23, '_1_-6_': 24, '_1_-7_': 25, '_1_0_': 26, '_1_1_': 27, '_1_2_': 28, '_1_3_': 29, '_2_-1_': 30, '_2_-2_': 31, '_2_-3_': 32, '_2_-4_': 33, '_2_-5_': 34, '_2_-6_': 35, '_2_-7_': 36, '_2_0_': 37, '_2_1_': 38, '_2_2_': 39, '_2_3_': 40, '_3_-1_': 41, '_3_-2_': 42, '_3_-3_': 43, '_3_-4_': 44, '_3_-5_': 45, '_3_-6_': 46, '_3_-7_': 47, '_3_0_': 48, '_3_1_': 49, '_3_2_': 50, '_3_3_': 51, '_4_-1_': 52, '_4_-2_': 53, '_4_-3_': 54, '_4_-4_': 55, '_4_-5_': 56, '_4_-6_': 57, '_4_-7_': 58, '_4_0_': 59, '_4_1_': 60, '_4_2_': 61, '_4_3_': 62, '_5_-1_': 63, '_5_-2_': 64, '_5_-3_': 65, '_5_-4_': 66, '_5_-5_': 67, '_5_-6_': 68, '_5_-7_': 69, '_5_0_': 70, '_5_1_': 71, '_5_2_': 72, '_5_3_': 73, '_6_-1_': 74, '_6_-2_': 75, '_6_-3_': 76, '_6_-4_': 77, '_6_-5_': 78, '_6_-6_': 79, '_6_-7_': 80, '_6_0_': 81, '_6_1_': 82, '_6_2_': 83, '_6_3_': 84, '_7_-1_': 85, '_7_-2_': 86, '_7_-3_': 87, '_7_-4_': 88, '_7_-5_': 89, '_7_-6_': 90, '_7_-7_': 91, '_7_0_': 92, '_7_1_': 93, '_7_2_': 94, '_7_3_': 95, '_8_-1_': 96, '_8_-2_': 97, '_8_-3_': 98, '_8_-4_': 99, '_8_-5_': 100, '_8_-6_': 101, '_8_-7_': 102, '_8_0_': 103, '_8_1_': 104, '_8_2_': 105, '_8_3_': 106, '_9_-1_': 107, '_9_-2_': 108, '_9_-3_': 109, '_9_-4_': 110, '_9_-5_': 111, '_9_-6_': 112, '_9_-7_': 113, '_9_0_': 114, '_9_1_': 115, '_9_2_': 116, '_9_3_': 117}
118

Generate token IDs for each dataset
* The floatencoder converts tensors of IDs to embedding tensors

In [47]:
tokenizer = PropertyTokenizer()

tokenized_y = [tokenizer.tokenize_floats_tgt(y[i]) for i in range(len(y))]
token_ids_y = [[vocab_y[token] for token in tokenized_y[i]] for i in range(len(tokenized_y))]

binned_X = [bin_q(X[i], max_q) for i in range(len(X))]
tokenized_X = [tokenizer.tokenize_floats(binned_X[i]) for i in range(len(binned_X))]
token_ids_X = [[vocab_X[token] for token in tokenized_X[i]] for i in range(len(tokenized_X))]

In [50]:
binned_X

[array([  60,  180,   56,  545,   91,  976,  310,  129,   73,   45,  409,
          61,   31,  111,   43,   60,   69,  272,  154, 1999,  328,  394,
          89,  998,  601,  101,  277,  139,  378,  268,  417,  124,  273],
       dtype=int64),
 array([ 459, 1999,   36,  767,  516,  322,  329,   62,   27,   38,   26,
          33,   42,   28,   40,   36,   32,   23,   53,   22,   23,   55,
          24,   38,   33,   90,   29,   21,   48], dtype=int64),
 array([  32,  296, 1064, 1105,  102,   92,  389,  100,   39,  211, 1999,
         151,  315,  408,  111,  330,  244,  125,   68,  168,   35,   21,
          25,  148,   68,  210,   32,  290,  188,   91,   52,   78,  106,
          71,   55,   90,   50,  127,   91,   88,  443,  162,   43,   50,
          75,  122,   32,   94,   72,   62,   36,   70,   64,  165,   56,
          28,  120,   57,   67,   86,   50,   32,   62,   23,   54,   25,
          43,   24,   41,   63,   26,   24], dtype=int64),
 array([ 444,  300, 1515, 1999, 1250,  339,  196,  664,  319,  440,   79,
         235,  139,  106,  309,  316,  308,  885,   25,  162,  111,  573,
          43,  560,   50,  277,  388,   29,  110,   36,  667,  180],
       dtype=int64),
 array([ 272,  218,  318, 1999,  177,  522,  547,  638,   90,  112,  115,
         209,  381,  217,  173,  228, 1125,   88,  301,   22,  410,   62,
          62,   91,   63,  329,  234,   26,   30,   48,   39,  146,  412,
          22,   51,   22,   27,  129,   39,   24,   42], dtype=int64),
 array([1143,  998, 1999, 1990,  369,  755,  572,  506,  149,   25,  424,
          42,   51,  159,  400,   25,  344,  145,  235,  293,  157,  120,
          38,   26,   28,  168,  292,  322,  276,  308,  178,   50,   79,
         291,   40,  163,   54,   56,   55,   41,  110,  224,  215,   69,
          41,   20,   36,  137,  135,  166,   45,   46,  278,   68,   37,
          36,   26,   86,  150,  118,   69,   52,   80,  165,  176,  181,
          33,   47,   65,  115,   45,   78,   30,   54,   64,   25],
       dtype=int64),
 array([  78,  372,  512, 1999,  114,  263,  209,   23,   79,   89,   57,
         160,   93,  190,  137,   66,  101,   58,   21,   82,   32,   73],
       dtype=int64),
 array([ 142,  236, 1999,  329,  356,  255, 1381,  174,  309,   79,  180,
         203, 1881,  354,   67,  314,   77,  376,  101,   78,  216,  102,
          40,  346,  372,  872,  613,  269,  208,  190,  374,  342,  135,
          95,  439,  382,  392,  262,   67,  186,  158,   41,   53,  144,
         136,   56,   31,   53,   23,  119,   27,  195], dtype=int64),
 array([1004,  992,  477,   96,  691, 1352,  999,  365,  438,   99, 1143,
         871, 1831,  418,   92,  534,  621,   31, 1416,  342,  113,  290,
        1402,  157, 1460, 1089, 1999, 1419,  102,  129,  877,  387,  340,
         244,   56,  393,  397, 1702,  573,  364,   39,  251,  502,  331,
          20,  452,  452,  256,  255], dtype=int64),
 array([ 119, 1954, 1316,   24,  940,  951, 1999,  204, 1323,  325,   32,
          73,  198,  239,   41,   93,   78,  240,   86,  171,   60,   32,
         191,   27,  126,   35,   89,   23,   38,   62,  131,   46,  199,
         140,   27,   66,   76,  230,  114,  120,  145,  121,  144,  108],
       dtype=int64),
 array([  82,   56, 1999,  929,  192,  129,  143,   45,   42,   31,  260,
        1324,  161,  208,  229,  195,  124,   86], dtype=int64),
 array([ 808,  194,  347,  203,  302,  541,   20,  112,   49,   49,   43,
          54, 1999,   58,  184,   46,  114], dtype=int64),
 array([1999,  480,  168,  198,  160,   54,  314,   51,   59,  334,  160,
         244,   42,  260, 1596,  517,  237,  502,   48,  157,  313, 1016,
         138,  760,  325,  171,   66,  132,   66,  565,  137,   20,  275,
          96,   24,  208,  392,  106,  253,   68,   35,  122,  269,  167,
          33,   95,  139,  142,  113,   28,   54,   55,   23,   22,   28,
          28,   55,   38], dtype=int64),
 array([ 161,  204,  785, 1454, 1170, 1999,   31,   80,   76,  126,  159,
          21,   64,  360,   23,   69,   28,  125,  124,   43,   36,   27,
          22,   99,   91,   33,  103,   39,   33,   39,   27,   21,   43,
          75,   25,   50,   48,   88,   70,   34,  101,  194,   72,   22,
          35,   56,   22,  135,   22,  155,   84,   87,  170,  138,  149,
          59,   26,   28,   32,   26,   98,   36,   47,   59,   36,   32,
          21,   54,   55,   33,   64,   78], dtype=int64),
 array([ 223,   39, 1216, 1999,  271,  350,  627,   37,  326,  351,  857,
         489,  237,   91,   25,   64,  443,  457,   54,  873,  130,  467,
          22,   34,   65,  148,  123,   23,   29], dtype=int64),
 array([ 339, 1999,  274,   62,  450,   46,  290,   27,  386,   51,   35,
         283,   66,  261,   53,   35,   67,   54, 1108,  297,  328,  327,
          48,   44,  141,  160,   26,   27,  153], dtype=int64),
 array([1999,  437,  250,  101,   36,   41,   48,   41,   23,  177,   35,
          21,   36,  166,  246,   68,   34,  127,  109,   20,  245,   69,
         149,   35,   21,   25], dtype=int64),
 array([ 129,  856,   25,  185, 1082, 1999,   37,  309,  154,  299,   65,
          39,   24,   25,  254,   35,   54,   59,   42,   32,   44,  253,
          21,   95,   22,   29,   21,   67,  146,   56,   29,   70,   80,
         181,   51,   24,   32,   60,   20], dtype=int64),
 array([ 698, 1999,   70,  659,  510, 1111,   27,   59,   36,  673,  176,
          78,  709,  426,  921,  224,  263,   81,  289,  154,  198,   35,
          56,   26,  187,   94,   37,  102,  565,   32,  283,  203,   26,
         145,  147,   21,   26,  158,  147,   44,   60,   38,   99,   53,
          38,   28,   22], dtype=int64),
 array([ 578, 1450,  461, 1999,  755,  138,  807,   21,  208,  111,  633,
         245,  173,   54,   57,  516,  316], dtype=int64),
 array([  27, 1999,  425,  224,  193,  247,   71,  901, 1167,  194,   97,
          24,   82,   54,   71,   71,   57,  120,  185,   56,  547,  159,
         102,  101,   32,  100,  125,  173,   76,   93,  116,  161,   34,
          65,   24,   55,   57,   89,   23,   78,  240,   63,  185,   38,
         312,  101,   39,   32,   44,   39,   82,   38,   20,  143,   39,
         186,   66,  145,   39,  139,   97], dtype=int64),
 array([  84,  250, 1999,   63,  604, 1172,  332,   23,  100,  222,  227,
         431,  183,   26,   59,   27,   42,   99,   47,  169,  170,  392,
          21,   20,   21,   30,   52,   65,   22,   84,   84,   96,  131,
          53,  105,   82,   23,   25,   51,   67,   20,   84], dtype=int64),
 array([1426,  379,  188,  490,  379,   88,  748,  639,  439,   33,   47,
          84,  891, 1999,   82,   33,   42,   73,  109,  324,  651,  694,
         238,   40,  965,  130,   58,  165,  211,   34], dtype=int64),
 array([1334,  162,  204,  863,  982,  651,  232, 1384,  363, 1999,  229,
         258,  575,   99], dtype=int64),
 array([1999,  840,  444,  610,   26,  198,   64,  109,  635,  101,  587,
         341,  641,  179,  381,  197,  448,  151,  513,  475,   61,  466,
         218,   86,  332,  347,  174,  107,  503,   35,  120,  219,   73,
         438,  146,  209,  583,   26,   56,   99,   59,   27,   67,   25],
       dtype=int64),
 array([1999,   24, 1157,  404,  850,  157,  797,  116, 1504,  362,  292,
          28,   52, 1333,   36,   87,  469,  260,  147,  655,  710,   29,
         163,  115, 1105,  792,  452,   27,  167,   22,  562,  261],
       dtype=int64),
 array([ 437,  217,  795,  268, 1999,   56,  401,   86,  176,  124,  194,
          51,   39,   54,   53,   40,  116,   30,   20,   26,  209,  151,
         114,   39,   34,   43,   21,   51,  112,   34,   33,   96,   64,
          27,   61,   21], dtype=int64),
 array([1000,  163,  114,  800,   26,   87, 1260, 1364,   21,   76,  194,
          68,   97,  955,   40,  442,   25,  771,   25,   31,   78,   20,
         205,   46,   51,  156,  178,  267,   28,  248,   84, 1999,   33,
          45,  147,  176,   90,  471,  348,  293,   62,  143,   69,  130,
          80,  373,  550,  825,  261,   90,   59,  159,   80,  204,  596,
         263,  298,  114,   71,  515,   70,  220,   71,   66,   45,   83,
          35,   75,   79,  239,  116,   67,   55,  178,   40,   63,   56,
          26,   51,   35,  107,  130,   81,   46,   43,   63,   49,   54,
          24,   30,   87,  103,   66,   35,   71,   43,  141], dtype=int64),
 array([  41, 1686,  272,  149,  316,  757,  287,  714,   30,  186,   96,
         188,  330,  347,  473, 1999,  150,  428,  739,  311,   25,  141,
          97,   53,  191,  161,  724,   82,  148,  147,   45,   97,   55],
       dtype=int64),
 array([  56,   40,   39, 1999,  239,  321,  833,  188,   42,  436,  104,
         367,  566,  113,  134,   35,   62,   37,  544,  157,   21,  301,
         128,   27,   32,   49,   20,   36,   87,   45,   36,   36,   33,
          37], dtype=int64),
 array([1261,   51,  469,  154,  950,  574,  268,  346, 1999,   65,   31,
         409,  610,   26,  141,  226,  319,   71,  551,  114,   23,  152,
         136,   49,  141,  229,   71,  374,   98,   31,   79,  120,  119,
         176,  110,   23,   68,  281,  129], dtype=int64),
 array([  24,   36, 1730,  487, 1999,  117,  103,   70,   90,  452,   71,
         571,  128,  892,  172,  263,   79,  200,   91,  120,  621, 1457,
         716,  107,  255,  110,   60,  163,   56,   75,  543,   38,   22],
       dtype=int64),
 array([1999,  339, 1062,   30,  405,   60,   90,   27,  118,  141,  140,
          50,  405,   85,  104,  174,   73,  473,  154,   72,  104,   81,
          22,   47,   26], dtype=int64),
 array([1999,  120,   24,   58,  459,  974,   89,   52,   43,  304, 1154,
        1209,  410,  203, 1849,   64,  679,  613, 1449,  462,   60,  459,
         824,  162,  151,  403,   30,  377,  430,  844,   91,  177,  216,
         333,   71,  903,  578,  234,   22,  258,  113,   27], dtype=int64),
 array([  90,  233,  298,  755,   60,  322,  984,  649,  399,  787,  651,
          28,  113, 1999,   84,  270,  217,  250,   39,   95,  139,   33,
          22,   51,   95,  512,  167,  283,   89,   42,  145,  121,   64,
         107,  150,   28,   20,   33,  125,   23,   21], dtype=int64),
 array([ 135,   79, 1999, 1326,  854,  216,   30,  764,   77,   31,  152,
          66,   97,   28,   82,  405,  561,   24,   21,   66,   66,  267,
          65,   79,   22,  359,   43,   41,   20,   38,   30], dtype=int64),
 array([  64, 1999,  231,   78,  133,  136,  164,   86,  317,  297,  512,
         647,  226,  646,   43, 1596, 1556,  446, 1425,  194, 1317, 1818,
          76,  733,  463,  132,  307,   25,   45,  346,   38,  114, 1016,
          25,   51,   29, 1644,  287,  197,   66,  487,   51,  102,  350,
         194,  220,   25], dtype=int64),
 array([ 438,  111,  305,  118, 1037, 1999,  451,  290,  511,  131,   20,
         456,  432,  187,   61,  208,  183,   28,  362,   52,   98,  162,
          20,  300,  189,  596,   26,   44,  476,  171,   60,  271,   95,
         234,  111,   40,   48,   39,   92,  312,  149,  239], dtype=int64),
 array([ 665,  606, 1999,   54,   29,  453,   27, 1009,  272,   90,   56,
         659,  440,   29,  699,   29,   40,  152,   88,   85,  301,  272,
          51,  459,  189,   26,  174,  494,  106,   78,  463,   80,   40,
          20,   50,   88], dtype=int64),
 array([ 470,  727,   71,   73,  436,   68, 1836,  287,  144,  251, 1583,
         280, 1930,   49, 1271,  883,  180,  228,  198,  590,  187, 1999,
         836, 1291,  655,  595,   83,  206,  152,   45,  406,  251,  151,
         321,  178,  206], dtype=int64),
 array([ 855, 1078,  170,   53,  538, 1252,   76,   45, 1790,   37, 1999,
         185,   96,  349,  113,   28,   42,  182,  399,   33,   81,  120,
         361,  129,  128,  214,   20,  145,   44,   20,   61,   98,  129,
          43,  677,  167,  326,  144,  450,   77,   27,   36,  213,  141],
       dtype=int64),
 array([  68,   89,  383,  107,  182,  480,  246,   49,   25, 1999,  254,
         379,  100,   46,   29,  275,  514,  139,  324,  108,  195,   31,
         113,  534,   33,   31,   56,   63,  286,   29,  111,   81,   22,
          89], dtype=int64),
 array([1999, 1604,  813,  570,  750,   53,  584, 1328,  436,   51,  175,
         800,  414,   22,  225,   72,   27,  303,  304,   72,   25,  176,
          91,  311,   28,   80,   45,  117,   33,   51,   32,  159,   34,
         192,  108,   85,   73,   99,   31,  126,  172,  290,  332,  103,
          40,   56], dtype=int64),
 array([  29, 1999,  880,  957,  348,  983,  994, 1000, 1031,  779,  700,
         413, 1753,  346,   26,  293,  480,   24,  250,  156,  107,   52,
         321,  557,  220,  370, 1144,  131,  154,  445,  148,   87,   67,
         659,  642,  635,  226,   34,   42,   76,   27,   52,   50,   41,
         418,   82,  139,  359,   26,   55,  182,  125,  112,  196,  121,
          77,   96], dtype=int64),
 array([ 468, 1002,  706,  861, 1170,  309,  371,   78,  923,  147,   85,
          35,  453,  165,  687,  302,   72,  101,   26, 1999,   69,  201,
         348,  180,  375, 1520,  134,  201,  111,   42,  122], dtype=int64),
 array([ 742,  157,   42,   25,   41,  189,   33, 1999,  184,  999,   20,
          93,   49,   91,   44,  177,  140,   65, 1145,   37,  113,  121],
       dtype=int64),
 array([ 272, 1152,  307,   25,  823,  705,  208,  516, 1999,  328,   78,
         344,   52,   53, 1312,  248,  608,   31,  176,  503,  388,   20,
          38,  133,   72,  319,   64,   39], dtype=int64),
 array([ 878,  649, 1999,   71,  408,   87,  130,  463,  144,   48,  118,
          98,   52,   28,   37,   54,   39,  122,   22,   82,   96,   39,
          30,   23,   88,   29,   36,   21,   45], dtype=int64),
 array([ 507, 1999,  833,   79,   68,   33,  394,  314,   73,  170,  515,
          42,  190,  103,  135,  110,   67,  181,   28,  436,   48,  155,
         161,   84,   44,   27,   39,   29,   45,   57,   48,   30,  142,
          39,  136,   26,   32,   43,   67,   26,   67,   75,   33,   28],
       dtype=int64),
 array([ 610, 1999,  340,  625,  609,  189,  485, 1548, 1160,  728,  330,
          79,   55,  171,  402,  260,  184,  151,  128,   97,  182,  467,
         249,  177,  381,  584,  225,  368,  290,  103,  267,  952,  760,
         121,  166,  104,   69,   77,   50,  155,  167,   27,  220,   35,
          47,  172,  201,  147], dtype=int64),
 array([ 137,  476,  443,  460,   26, 1347,  115, 1999,  484,  129,   32,
          85,  122,   35,   23,  105,  196,   31,   51,  110,   34,   51,
          27,  281], dtype=int64),
 array([ 167,  931, 1143,  743,   72,  356, 1999,  920,  191,  967,  201,
          39,  223, 1588,  209,  349,  645,   95,  445, 1563,  556,  860,
          41, 1170,  139,  313,  174,  354,   51,   53,  877,  300,  243,
          27,   89,   94,   98,   75,  144,  398], dtype=int64),
 array([  61,   31,  375,  107,  672,  103, 1388,   25,  336,  109,   84,
          37,  104,  138,  615,  312,  875,  385,  247,  258,  639,   45,
         274,  678,  548,  664,   37,  282,   26,  178,  158,   35,   34,
          34,  310,   37,   76,  415,  311,   72,   84,  104,   75,   78,
         322,  240, 1999,  524,   85,   73,  139, 1043,  138,   79,  322,
         158,   54,  313,   93,  408,  107,  410,  530,  206,  109,  173,
          67,   46,   86,   33,  232,   37,   54,  135,  212,  360,  266,
          95,   54,  134,  206,  200,  202,   73,   21,   52,   69,   86,
          91,   55,  259,  136,   79,   42,   47,   91,   26,   50,   23,
         204,   21,   60,   87,  124,   77,  163,  176,  186,   53,  133,
         119,   60,   44,   56,   69,   36], dtype=int64),
 array([ 216,  836,  122, 1999,  211,  234,  125,  313,  105,  107,   47,
         104,  194,   77,   87,  240,  136,   35,  308,  120,   40,  184,
         214,  407,  149,  275,  110,  310,  778,  640,  118,  209,  800,
         193,   48,   60,  526,  160,  168,  265,  385, 1277,  402,  321,
         507,  647, 1381,  293,   70,  143,  294,  337,  240,   60,  455,
          62,  279,   82,   50,  363,  169,   70,   50,  131,  209,  173,
         334,   29,   72,  443,  285,  217,  107,   72,   98,  199,   76,
          20,   98,  184,  110,   98,   77,  321,   23,   61,   55,   83,
         253,   97,  204,  327,  102,  145,   23,   67,   39], dtype=int64),
 array([ 349,  328,  680,  401, 1009,   67,  117,   95, 1999,  137,   65,
         309,  380,  829,  496,  162,  146,  167,  164,   42,  107,   91,
          26,   54,   50,  105,   22,  199,   23], dtype=int64),
 array([ 850,  439, 1999,   91,  416,  168, 1659,  126,  511,   46,  272,
         236,  220,   27,   91,  476,  370,  875,   35,  869, 1277,  758,
         187,   81,   55,   62,  644,   55,  258,  371,  131,  194,  232,
         112,   51,   35,   35,  201,  308,  289,  175,   38,  164,   48,
         131,   21], dtype=int64),
 array([1999,  421,   85,  607,  280,   44,  355,   53,   40,  313,  490,
         317,  297,  182,  568,   34,   45,  558,  106,   33,  130,  214,
          22,  117,   48,   22,   24,   49,   41], dtype=int64),
 array([  26, 1731,  323,  790, 1999,   81,   95,   74,  113,  814,  344,
          20,  147,  367,  129,  511,   20,   28,  282,  256,  115,  103,
          44,  124,   61,   99,   64,  123,   27,   56,  245,  242,   38,
         104,   59,  377,   66,   41,   75,  101,  240,  200,  107,   32,
          21,  100,   88,   67,   48,   64,   47,   56,   37,   63,   78,
          38,   61,   43,   44,  146,   43,   26], dtype=int64),
 array([  51, 1732, 1999, 1671,  598,  200, 1573,  341,  136,  492,   73,
         823,  333,   48,  130,  207,   86,  260,  127,  260,   72,  140,
          21,  215,   21,  140,  377,   85,  104,   92,  225,  292,   99,
         109,  162,   88,  128,   23,   34,   32,   27,   24], dtype=int64),
 array([1999,  323,  112,  170,   20,  679,  607,  154,   79,  166,  121,
         187,   54], dtype=int64),
 array([1740, 1232, 1999,  232,  373,   75, 1479, 1366,  168,   65,  944,
         512,   93,  113,  320,   41,   89,   56,  116,  325,  106,   59,
          40], dtype=int64),
 array([ 540,  465,  284,  159,   48,  135,  208,  273,  316, 1999,  306,
         185,  401,   40,   80,   99,  376,   80], dtype=int64),
 array([1061,  308,  238,  369,  334,  195,  144,   20, 1999, 1438,  282,
         237,  915,  512,   72,  268,   27,  992,   53,  675, 1226,  444,
         141,  453,  181,   68,   45,  225,  372,  136,   35,  792,  105,
         205,  342,   98,  254,   58,  336,   59,  124,  101,   27,  116,
          23,   89,   49,  135,   32,  161,  390,  136,   77,  146,   67,
          41,   79], dtype=int64),
 array([1529,  188,  655,  632,  838, 1999,  863,  434,  499,  885,  528,
         823,   87,  370,  380,  122,  115,   66,  339,   27,  167],
       dtype=int64),
 array([ 351,  650, 1112, 1999, 1118, 1046,  698,   81,  741,  210,  134,
         149,  572,  394, 1279,  908,  534,  413,   98,   77,   25,  102,
          39,  136], dtype=int64),
 array([ 214,  479,  309,  430,  810, 1013, 1524,  175,  196,  162, 1240,
         698, 1999,  115, 1011,  145,   66,  661,   33,  178,  191,   95,
          49,  286,   51,   50,   98,   60,  245,   34,  141,  121,   56,
         205,   65,   38,  141,  192,   88,  183,   70,  141,   54,   39,
          33,  125,   37,   59,  103,   45,   73,  177,   90,   75,   28,
         103,   62,   44,   65], dtype=int64),
 array([1999,  216,   59,  632,  510,  225,  337,   40,  120,  243,  612,
          31,  125,  362,   38,  206,  264,   58,  127,  189,  109,  103,
          78,   43,  214,   33,   67,   83,   60,  554,   94,  174,  160,
         144,   51,  158,   43,   24,   46,   43], dtype=int64),
 array([ 941, 1999,  318,   50,   93, 1500, 1275, 1813,  520,  482,   71,
         202,  345,  417,  148,  219,  333,  146,  452,   56,   88,  363,
         235,   70,  225,  202,   23,   45,   99], dtype=int64),
 array([  70,  470, 1999, 1914, 1733, 1839,  301,  716,   49,  135,   63,
         604,  827,  354,  597,   95,   53,  107,  174,  178,  834,  426,

Make ragged tensor dataset
* Padding and special token appending happens in the collate function

In [10]:
ragged_dataset = RaggedTensorDataset(token_ids_X, token_ids_y)

# Random seed for reproducibility
torch.manual_seed(42)

# Set the proportions for train, validation, and test splits
train_ratio = 0.90
val_ratio = 0.05
test_ratio = 0.05

# Calculate the sizes for each split
train_size = int(train_ratio * len(ragged_dataset))
val_size = int(val_ratio * len(ragged_dataset))
test_size = len(ragged_dataset) - train_size - val_size

# Perform the train-validation-test split
train_dataset, val_dataset, test_dataset = random_split(ragged_dataset, [train_size, val_size, test_size])

# print sizes
print(f"Train size: {len(train_dataset)}")
print(f"Validation size: {len(val_dataset)}")
print(f"Test size: {len(test_dataset)}")

Train size: 129423
Validation size: 7190
Test size: 7191

### Building a model
Using this as basis https://pytorch.org/tutorials/beginner/translation_transformer.html

In [11]:
from torch import Tensor
import torch
import torch.nn as nn
from torch.nn import Transformer
import math
DEVICE = torch.device('cuda' if torch.cuda.is_available() else 'cpu')

# Seq2Seq Network

class Seq2SeqTransformer(nn.Module):
    def __init__(self,
                 num_encoder_layers: int,
                 num_decoder_layers: int,
                 emb_size: int,
                 nhead: int,
                 src_vocab_size: int,
                 tgt_vocab_size: int,
                 src_vocab: dict,
                 tgt_vocab: dict,
                 dim_feedforward: int = 512,
                 dropout: float = 0.1):
        super(Seq2SeqTransformer, self).__init__()
        self.transformer = Transformer(d_model=emb_size,
                                       nhead=nhead,
                                       num_encoder_layers=num_encoder_layers,
                                       num_decoder_layers=num_decoder_layers,
                                       dim_feedforward=dim_feedforward,
                                       dropout=dropout)
        self.generator = nn.Linear(emb_size, tgt_vocab_size) # outputs probability distribution over target vocabulary

        # Note - bug when "numerical_encodings." was omitted, causing model to try to call forward()
        self.src_numerical_encoding = numerical_encodings.FloatEncoding(
            num_embeddings = src_vocab_size,
            embedding_dim = emb_size,
            vocab = src_vocab)
        self.tgt_numerical_encoding = numerical_encodings.FloatEncoding(
            num_embeddings = tgt_vocab_size,
            embedding_dim = emb_size,
            vocab = tgt_vocab)

    def forward(self,
                src: Tensor,
                tgt: Tensor,
                src_mask: Tensor,
                tgt_mask: Tensor,
                src_padding_mask: Tensor,
                tgt_padding_mask: Tensor,
                memory_key_padding_mask: Tensor):
        src_emb = self.src_numerical_encoding(src) # src_tok_emb acts on the input tensor. Instead of positional, use numerical
        tgt_emb = self.tgt_numerical_encoding(tgt) # tgt_tok_emb acts on the output tensor
        outs = self.transformer(src_emb, tgt_emb, src_mask, tgt_mask, None,
                                src_padding_mask, tgt_padding_mask, memory_key_padding_mask) # this is calling self.forward
        return self.generator(outs)

    def encode(self, src: Tensor, src_mask: Tensor):
        return self.transformer.encoder(self.src_numerical_encoding(src), src_mask)

    def decode(self, tgt: Tensor, memory: Tensor, tgt_mask: Tensor):
        return self.transformer.decoder(self.tgt_numerical_encoding(tgt), memory, tgt_mask)

Define padding and causal masks

In [12]:
def generate_square_subsequent_mask(sz):
    mask = (torch.triu(torch.ones((sz, sz), device=DEVICE)) == 1).transpose(0, 1)
    mask = mask.float().masked_fill(mask == 0, float('-inf')).masked_fill(mask == 1, float(0.0))
    return mask


def create_mask(src, tgt):
    src_seq_len = src.shape[0]
    tgt_seq_len = tgt.shape[0]

    tgt_mask = generate_square_subsequent_mask(tgt_seq_len)
    src_mask = torch.zeros((src_seq_len, src_seq_len),device=DEVICE).type(torch.bool)

    src_padding_mask = (src == PAD_IDX).transpose(0, 1)
    tgt_padding_mask = (tgt == PAD_IDX).transpose(0, 1)
    return src_mask, tgt_mask, src_padding_mask, tgt_padding_mask

Define collation function

In [ ]:
def collate_fn(batch):
    """
    This function takes in a list of samples and returns separate source and target batches.
    """
    # Get the inputs and labels separately
    # Inputs are lists and converted to tensors here
    src_batch = [torch.tensor(sample[0]) for sample in batch]
    tgt_batch = [torch.tensor(sample[1]) for sample in batch]
    
    # add BOS_IDX to end and EOS_IDX to start of tgt_batch
    tgt_batch = [torch.cat((torch.tensor([BOS_IDX]), tgt_batch[i], torch.tensor([EOS_IDX]))) for i in range(len(tgt_batch))]

    # # Reserve the right to pad later
    src_batch = pad_sequence(src_batch, batch_first=False)
    tgt_batch = pad_sequence(tgt_batch, batch_first=False)

    return src_batch, tgt_batch

Define training and evaluation loop

In [16]:
def train_epoch(model, optimizer):
    model.train()
    losses = 0
    train_dataloader = DataLoader(train_dataset, batch_size=BATCH_SIZE, collate_fn=collate_fn)

    for src, tgt in train_dataloader:
        src = src.to(DEVICE)
        tgt = tgt.to(DEVICE)

        tgt_input = tgt[:-1, :]

        src_mask, tgt_mask, src_padding_mask, tgt_padding_mask = create_mask(src, tgt_input)

        logits = model(src, tgt_input, src_mask, tgt_mask,src_padding_mask, tgt_padding_mask, src_padding_mask)

        optimizer.zero_grad()

        tgt_out = tgt[1:, :]
        loss = loss_fn(logits.reshape(-1, logits.shape[-1]), tgt_out.reshape(-1))
        loss.backward()

        optimizer.step()
        losses += loss.item()

    return losses / len(list(train_dataloader))


def evaluate(model):
    model.eval()
    losses = 0

    val_dataloader = DataLoader(val_dataset, batch_size=BATCH_SIZE, collate_fn=collate_fn)

    for src, tgt in val_dataloader:
        src = src.to(DEVICE)
        tgt = tgt.to(DEVICE)

        tgt_input = tgt[:-1, :]

        src_mask, tgt_mask, src_padding_mask, tgt_padding_mask = create_mask(src, tgt_input)

        logits = model(src, tgt_input, src_mask, tgt_mask,src_padding_mask, tgt_padding_mask, src_padding_mask)

        tgt_out = tgt[1:, :]
        loss = loss_fn(logits.reshape(-1, logits.shape[-1]), tgt_out.reshape(-1))
        losses += loss.item()

    return losses / len(list(val_dataloader))

Set model parameters

In [ ]:
torch.manual_seed(42)

SRC_VOCAB_SIZE = len(vocab_X)
TGT_VOCAB_SIZE = len(vocab_y)
SRC_VOCAB = vocab_X
TGT_VOCAB = vocab_y
EMB_SIZE = 16
NHEAD = 8
FFN_HID_DIM = 64
BATCH_SIZE = 64
NUM_ENCODER_LAYERS = 3
NUM_DECODER_LAYERS = 3

transformer = Seq2SeqTransformer(NUM_ENCODER_LAYERS, NUM_DECODER_LAYERS, EMB_SIZE,
                                 NHEAD, SRC_VOCAB_SIZE, TGT_VOCAB_SIZE, SRC_VOCAB, TGT_VOCAB, FFN_HID_DIM)

for p in transformer.parameters():
    if p.dim() > 1:
        nn.init.xavier_uniform_(p)

transformer = transformer.to(DEVICE)

loss_fn = torch.nn.CrossEntropyLoss(ignore_index=PAD_IDX)

optimizer = torch.optim.Adam(transformer.parameters(), lr=0.0001, betas=(0.9, 0.98), eps=1e-9)

c:\Users\y_w_u\Google Drive\SLAC\code experiments\xrd-former\numerical_encodings.py:172: UserWarning: The inferred maximum float (90000) is used for normalizing all float embeddings which might result in diminishing embeddings.
  warnings.warn(
c:\Users\y_w_u\Google Drive\SLAC\code experiments\xrd-former\numerical_encodings.py:172: UserWarning: The inferred maximum float (9000) is used for normalizing all float embeddings which might result in diminishing embeddings.
  warnings.warn(

Train the model

In [17]:

NUM_EPOCHS = 50

for epoch in range(1, NUM_EPOCHS+1):
    start_time = timer()
    train_loss = train_epoch(transformer, optimizer)
    end_time = timer()
    val_loss = evaluate(transformer)
    print((f"Epoch: {epoch}, Train loss: {train_loss:.3f}, Val loss: {val_loss:.3f}, "f"Epoch time = {(end_time - start_time):.3f}s"))

    # Save model every 10 epochs
    if epoch % 10 == 0:
        torch.save(transformer.state_dict(), f"transformer_{epoch}.pt")

c:\Users\y_w_u\anaconda3\envs\xrd-former\Lib\site-packages\torch\nn\functional.py:4999: UserWarning: Support for mismatched src_key_padding_mask and src_mask is deprecated. Use same type for both instead.
  warnings.warn(
c:\Users\y_w_u\anaconda3\envs\xrd-former\Lib\site-packages\torch\nn\functional.py:4999: UserWarning: Support for mismatched key_padding_mask and attn_mask is deprecated. Use same type for both instead.
  warnings.warn(

Epoch: 1, Train loss: 3.253, Val loss: 2.106, Epoch time = 175.985s
Epoch: 2, Train loss: 1.830, Val loss: 1.629, Epoch time = 167.281s
Epoch: 3, Train loss: 1.628, Val loss: 1.570, Epoch time = 167.637s
Epoch: 4, Train loss: 1.586, Val loss: 1.551, Epoch time = 167.469s
Epoch: 5, Train loss: 1.569, Val loss: 1.542, Epoch time = 167.768s
Epoch: 6, Train loss: 1.559, Val loss: 1.536, Epoch time = 170.318s
Epoch: 7, Train loss: 1.551, Val loss: 1.532, Epoch time = 167.076s
Epoch: 8, Train loss: 1.546, Val loss: 1.528, Epoch time = 167.536s
Epoch: 9, Train loss: 1.542, Val loss: 1.525, Epoch time = 167.810s
Epoch: 10, Train loss: 1.539, Val loss: 1.523, Epoch time = 168.182s
Epoch: 11, Train loss: 1.536, Val loss: 1.521, Epoch time = 168.280s
Epoch: 12, Train loss: 1.533, Val loss: 1.520, Epoch time = 167.012s
Epoch: 13, Train loss: 1.531, Val loss: 1.518, Epoch time = 166.768s
Epoch: 14, Train loss: 1.529, Val loss: 1.517, Epoch time = 166.881s
Epoch: 15, Train loss: 1.528, Val loss: 1.516, Epoch time = 166.727s
Epoch: 16, Train loss: 1.526, Val loss: 1.515, Epoch time = 191.409s
Epoch: 17, Train loss: 1.525, Val loss: 1.514, Epoch time = 188.328s
Epoch: 18, Train loss: 1.523, Val loss: 1.513, Epoch time = 188.581s
Epoch: 19, Train loss: 1.522, Val loss: 1.512, Epoch time = 197.079s
Epoch: 20, Train loss: 1.521, Val loss: 1.512, Epoch time = 192.678s
Epoch: 21, Train loss: 1.520, Val loss: 1.511, Epoch time = 187.864s
Epoch: 22, Train loss: 1.520, Val loss: 1.511, Epoch time = 187.889s
Epoch: 23, Train loss: 1.519, Val loss: 1.510, Epoch time = 188.058s
Epoch: 24, Train loss: 1.518, Val loss: 1.510, Epoch time = 187.359s
Epoch: 25, Train loss: 1.517, Val loss: 1.509, Epoch time = 196.866s
Epoch: 26, Train loss: 1.517, Val loss: 1.509, Epoch time = 192.281s
Epoch: 27, Train loss: 1.516, Val loss: 1.509, Epoch time = 191.932s
Epoch: 28, Train loss: 1.516, Val loss: 1.508, Epoch time = 191.700s
Epoch: 29, Train loss: 1.515, Val loss: 1.508, Epoch time = 191.802s
Epoch: 30, Train loss: 1.515, Val loss: 1.508, Epoch time = 191.830s
Epoch: 31, Train loss: 1.514, Val loss: 1.507, Epoch time = 192.777s
Epoch: 32, Train loss: 1.514, Val loss: 1.507, Epoch time = 191.989s
Epoch: 33, Train loss: 1.514, Val loss: 1.507, Epoch time = 191.856s
Epoch: 34, Train loss: 1.513, Val loss: 1.506, Epoch time = 193.614s
Epoch: 35, Train loss: 1.513, Val loss: 1.506, Epoch time = 193.346s
Epoch: 36, Train loss: 1.512, Val loss: 1.506, Epoch time = 192.125s
Epoch: 37, Train loss: 1.512, Val loss: 1.506, Epoch time = 197.257s
Epoch: 38, Train loss: 1.512, Val loss: 1.505, Epoch time = 219.920s
Epoch: 39, Train loss: 1.511, Val loss: 1.505, Epoch time = 215.189s
Epoch: 40, Train loss: 1.511, Val loss: 1.505, Epoch time = 215.029s
Epoch: 41, Train loss: 1.511, Val loss: 1.505, Epoch time = 210.815s
Epoch: 42, Train loss: 1.510, Val loss: 1.504, Epoch time = 195.297s

KeyboardInterrupt:

### Testing model

Load saved model and test on examples

In [19]:
# Load a torch model from a .pth file
model_weights_path = "transformer_40.pt" 
transformer.load_state_dict(torch.load(model_weights_path))

Generation routines

In [20]:
# function to generate output sequence using greedy algorithm
def greedy_decode(model, src, src_mask, max_len, start_symbol):
    src = src.to(DEVICE)
    src_mask = src_mask.to(DEVICE)

    memory = model.encode(src, src_mask)
    ys = torch.ones(1, 1).fill_(start_symbol).type(torch.long).to(DEVICE)
    for i in range(max_len-1):
        memory = memory.to(DEVICE)
        tgt_mask = (generate_square_subsequent_mask(ys.size(0))
                    .type(torch.bool)).to(DEVICE)
        out = model.decode(ys, memory, tgt_mask)
        out = out.transpose(0, 1)
        prob = model.generator(out[:, -1])
        _, next_word = torch.max(prob, dim=1)
        next_word = next_word.item()

        ys = torch.cat([ys,
                        torch.ones(1, 1).type_as(src.data).fill_(next_word)], dim=0)
        if next_word == EOS_IDX:
            break
    return ys

def greedy_decode_verbose(model, src, src_mask, max_len, start_symbol,top_k=3):
    def get_keys_by_values(vocab, token):
        return [k for k, v in vocab.items() if v == token]
    
    src = src.to(DEVICE)
    src_mask = src_mask.to(DEVICE)

    memory = model.encode(src, src_mask)
    ys = torch.ones(1, 1).fill_(start_symbol).type(torch.long).to(DEVICE)
    for i in range(max_len-1):
        memory = memory.to(DEVICE)
        tgt_mask = (generate_square_subsequent_mask(ys.size(0))
                    .type(torch.bool)).to(DEVICE)
        out = model.decode(ys, memory, tgt_mask)
        out = out.transpose(0, 1)
        prob = model.generator(out[:, -1])

        # Get the top k tokens and their probabilities
        top_probs, top_tokens = torch.topk(prob, top_k, dim=1)
        top_probs = torch.softmax(top_probs, dim=-1)
        
        # Print the top k tokens and their probabilities
        print(f"Step {i}: Top {top_k} tokens and probabilities:")
        for j in range(top_k):
            token = top_tokens[0, j].item()
            token_str = get_keys_by_values(vocab_y, token)[0]
            print(f"Token '{token_str}': Probability {top_probs[0, j].item()}")

        _, next_word = torch.max(prob, dim=1)
        next_word = next_word.item()

        ys = torch.cat([ys,
                        torch.ones(1, 1).type_as(src.data).fill_(next_word)], dim=0)
        if next_word == EOS_IDX:
            break
    return ys

# actual function to translate input sentence into target language
def translate(model: torch.nn.Module, src, verbose=False):
    model.eval()
    num_tokens = src.shape[0]
    src_mask = (torch.zeros(num_tokens, num_tokens)).type(torch.bool)
    if verbose:
        tgt_tokens = greedy_decode_verbose(
            model,  src, src_mask, max_len=30, start_symbol=BOS_IDX).flatten()
    else:
        tgt_tokens = greedy_decode(
            model,  src, src_mask, max_len=30, start_symbol=BOS_IDX).flatten()
    return tgt_tokens

Check which tokens the model is predicting
* the structure of the numbers is being captured (P near 1 for tags and ".")

In [21]:
src = test_dataset[0][0]
src = torch.tensor(src).unsqueeze(1)
out = translate(transformer, src, verbose=True)

Step 0: Top 3 tokens and probabilities:
Token '<a>': Probability 0.9999988079071045
Token '_5_0_': Probability 6.563274723703216e-07
Token '_4_0_': Probability 4.707397351921827e-07
Step 1: Top 3 tokens and probabilities:
Token '_1_1_': Probability 0.6457002758979797
Token '_9_0_': Probability 0.1870238035917282
Token '_8_0_': Probability 0.16727592051029205
Step 2: Top 3 tokens and probabilities:
Token '_0_0_': Probability 0.4196949005126953
Token '_1_0_': Probability 0.3270508050918579
Token '_2_0_': Probability 0.25325435400009155
Step 3: Top 3 tokens and probabilities:
Token '_._': Probability 1.0
Token '<eos>': Probability 6.363818361165841e-10
Token '_1_1_': Probability 2.546460819985441e-10
Step 4: Top 3 tokens and probabilities:
Token '_0_-1_': Probability 0.3384811580181122
Token '_1_-1_': Probability 0.3347078561782837
Token '_2_-1_': Probability 0.32681092619895935
Step 5: Top 3 tokens and probabilities:
Token '_3_-2_': Probability 0.33856016397476196
Token '_8_-2_': Probability 0.3318674564361572
Token '_1_-2_': Probability 0.32957231998443604
Step 6: Top 3 tokens and probabilities:
Token '_4_-3_': Probability 0.3391610383987427
Token '_2_-3_': Probability 0.33268606662750244
Token '_8_-3_': Probability 0.32815292477607727
Step 7: Top 3 tokens and probabilities:
Token '<b>': Probability 0.8098183870315552
Token '_1_-4_': Probability 0.09713052958250046
Token '_7_-4_': Probability 0.09305112063884735
Step 8: Top 3 tokens and probabilities:
Token '_1_1_': Probability 0.9017492532730103
Token '_2_1_': Probability 0.09310443699359894
Token '_3_1_': Probability 0.005146319512277842
Step 9: Top 3 tokens and probabilities:
Token '_2_0_': Probability 0.3526104688644409
Token '_1_0_': Probability 0.3385421931743622
Token '_3_0_': Probability 0.3088473677635193
Step 10: Top 3 tokens and probabilities:
Token '_._': Probability 1.0
Token '<eos>': Probability 1.0680737183577094e-08
Token '_8_-2_': Probability 2.2626120976809716e-09
Step 11: Top 3 tokens and probabilities:
Token '_6_-1_': Probability 0.33662667870521545
Token '_4_-1_': Probability 0.33398088812828064
Token '_7_-1_': Probability 0.3293924033641815
Step 12: Top 3 tokens and probabilities:
Token '_3_-2_': Probability 0.334682434797287
Token '_2_-2_': Probability 0.333003968000412
Token '_8_-2_': Probability 0.3323136270046234
Step 13: Top 3 tokens and probabilities:
Token '_4_-3_': Probability 0.34073933959007263
Token '_8_-3_': Probability 0.3299121558666229
Token '_5_-3_': Probability 0.32934850454330444
Step 14: Top 3 tokens and probabilities:
Token '<c>': Probability 0.9779992699623108
Token '_1_-4_': Probability 0.011287952773272991
Token '_9_-4_': Probability 0.010712821036577225
Step 15: Top 3 tokens and probabilities:
Token '_1_1_': Probability 0.5521427392959595
Token '_2_1_': Probability 0.3670533299446106
Token '_3_1_': Probability 0.08080396801233292
Step 16: Top 3 tokens and probabilities:
Token '_4_0_': Probability 0.36754029989242554
Token '_3_0_': Probability 0.32317954301834106
Token '_5_0_': Probability 0.309280127286911
Step 17: Top 3 tokens and probabilities:
Token '_._': Probability 1.0
Token '<eos>': Probability 1.4481109644748358e-08
Token '_5_-4_': Probability 7.632373622001865e-10
Step 18: Top 3 tokens and probabilities:
Token '_6_-1_': Probability 0.335476815700531
Token '_4_-1_': Probability 0.3331068456172943
Token '_7_-1_': Probability 0.33141636848449707
Step 19: Top 3 tokens and probabilities:
Token '_3_-2_': Probability 0.33382314443588257
Token '_1_-2_': Probability 0.33342069387435913
Token '_2_-2_': Probability 0.3327561318874359
Step 20: Top 3 tokens and probabilities:
Token '_4_-3_': Probability 0.33876535296440125
Token '_8_-3_': Probability 0.33175936341285706
Token '_9_-3_': Probability 0.3294752836227417
Step 21: Top 3 tokens and probabilities:
Token '<eos>': Probability 0.9966533780097961
Token '_1_-4_': Probability 0.0017344700172543526
Token '_9_-4_': Probability 0.0016121434746310115

In [25]:
def compare_results(n, verbose=False):
    src = test_dataset[n][0]
    src = torch.tensor(src).unsqueeze(1)
    src = translate(transformer, src, verbose=False)
    src = get_keys_by_values(vocab_y, src.tolist())
    src = extract_floats(src)
    tgt = get_keys_by_values(vocab_y, test_dataset[n][1])
    tgt = extract_floats(tgt)
    # convert to numpy arrays
    src = np.array(src)
    tgt = np.array(tgt)
    # calculate the absolute error
    error = np.abs(src - tgt)
    # calculate the mean absolute error
    mae = np.mean(error)
    # calculate the mean squared error
    mse = np.mean(error**2)
    # calculate the root mean squared error
    rmse = np.sqrt(mse)
    # calculate the mean absolute percentage error
    mape = np.mean(np.abs(error / tgt)) * 100
    # calculate the coefficient of determination
    ss_res = np.sum((tgt - src)**2)
    ss_tot = np.sum((tgt - np.mean(tgt))**2)
    r2 = 1 - (ss_res / ss_tot)
    if verbose:
        # summarize
        print('MAE: %.3f' % mae)
        print('MSE: %.3f' % mse)
        print('RMSE: %.3f' % rmse)
        print('MAPE: %.3f' % mape)
        print('R2: %.3f' % r2)

    return src, tgt, mape

Compare the predicted and actual lattice parameters

In [26]:
for i in range(20):
    a, b, mape = compare_results(i)
    print(len(test_dataset[i][0]), a, b, mape)

202 [10.034 12.634 14.634] [ 6.5144 10.05   17.824 ] 32.54555317667957
318 [10.034 12.634 14.634] [ 5.6059  9.3515 19.8996] 46.85071557120319
165 [10.034 12.634 14.634] [ 8.202 14.803 19.783] 21.005282727796395
167 [10.034 12.634 14.634] [14.75  15.3   15.543] 18.415336597597452
153 [10.034 12.634 14.634] [ 7.458 22.887 24.652] 39.99204159316957
91 [10.034 12.634 14.634] [ 7.146 19.443 19.762] 33.7944413824394
124 [10.034 12.434 14.434] [ 8.1959 10.6113 12.9909] 16.904194707792872
174 [10.034 12.634 14.634] [ 9.2492 10.2439 13.9779] 12.170276808011689
184 [10.034 12.634 14.634] [ 8.229 14.784 28.713] 28.503636397869194
316 [10.034 12.634 14.634] [12.6402 21.9538 25.3094] 35.08326876989487
159 [10.034 12.434 14.434] [ 9.7835 10.3369 41.011 ] 29.217503892125517
163 [10.034 12.634 14.634] [ 5.695   7.5345 28.7029] 64.29574696038435
249 [10.034 12.634 14.634] [13.2926 16.75   16.8467] 20.74061627892719
187 [10.034 12.634 14.634] [ 7.6563 10.9386 12.4438] 21.385148257472
66 [10.034 12.43  14.43 ] [ 8.185  12.0619 13.2149] 11.61226192501833
122 [10.034 12.434 14.434] [ 7.0613 20.904  37.524 ] 48.05033103167708
152 [10.034 12.634 14.634] [12.0385 15.1889 16.6681] 15.22504409600767
121 [10.034 12.434 14.434] [10.623  20.393  23.8095] 27.983270116657998
62 [10.034 12.43  14.43 ] [10.228 10.419 13.688] 8.872945689514754
178 [10.034 12.634 14.634] [12.334 13.972 15.097] 10.4302568621785